<div class="page">

    <div class="row">

        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Crear Iniciativa</strong></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="proyecto.nombreDelProyecto" class="col-sm-2 control-label">Nombre del Proyecto</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="proyecto.nombreDelProyecto"  disabled="" value="{{proyecto.nombreDelProyecto}}">
                            </div>
                            <label  class="col-sm-1 control-label">Solicitante</label>
                            <div class="col-sm-4">

                                <input type="text" class="form-control" disabled="" value="{{proyecto.nombreUsuario}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">Fecha de Solicitud</label>
                            <div class="col-sm-2">

                                <input type="text" class="form-control" disabled="" value="{{proyecto.fechaSolicitud}}">
                            </div>
                            <label  class="col-sm-1 control-label">Empresa</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" id="empresa"  disabled="" value="{{proyecto.empresa}}">
                            </div>
                            <label  class="col-sm-2 control-label">Departamento</label>
                            <div class="col-sm-2">
                                <span class="ui-select"> <input type="text" class="form-control" id="departamento"  disabled="" value="{{proyecto.departamento}}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="proyecto.resumenEjecutivo" class="col-sm-2 control-label">Resumen Ejecutivo</label>
                            <div class="col-sm-10">
                                <textarea name="proyecto.resumenEjecutivo" id="proyecto.resumenEjecutivo" class="form-control" rows="10" disabled="" >{{proyecto.resumenEjecutivo}}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">Resolución Iniciativa</label>
                            <div class="col-sm-10">

                                    <dd>
                                        <label class="ui-radio"><input ng-model="proyecto.estadoIniciativa" name="proyecto.estadoIniciativa" type="radio" value="Aprobar" ><span>Aprobar</span></label>
                                        <label class="ui-radio"><input ng-model="proyecto.estadoIniciativa" name="proyecto.estadoIniciativa" type="radio" value="Rechazar" checked><span>Rechazar</span></label>
                                    </dd>


                            </div>
                        </div>
                        <div class="form-group" ng-show="proyecto.estadoIniciativa=='Aprobar'">
                        <label  class="col-sm-2 control-label">Jefe Proyecto Asigando</label>
                        <div class="col-sm-2">
                            <span class="ui-select"><select ng-model="proyecto.jefeProyecto" ng-options="opt.nombre for opt in listas.jefeProyecto"></select></span>
                        </div>
                         </div>
                        <br>
                        <div class="form-group" ng-show="proyecto.estadoIniciativa=='Rechazar'">
                            <label for="proyecto.comentario" class="col-sm-2 control-label">Motivo Rechazo</label>
                            <div class="col-sm-6">
                            <textarea name="proyecto.comentario" id="proyecto.comentario" class="form-control" rows="3" ></textarea>
                            </div>

                        </div>
                        <div class="col-sm-offset-2 col-sm-10" align="right">
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>

                </div>
            </section>
        </div>
    </div>




</div>