
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavbarCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span>Dashboard</span> </a></li>

        <li>
            <a href="#/pages"><i class="fa fa-file-text-o"></i><span>Proyectos</span></a>
            <ul>
                <li><a href="/pages/crearIniciativa"><i class="fa fa-caret-right"></i>Crear Iniciativa</a></li>
               <li><a href="#/pages/misProyectos"><i class="fa fa-caret-right"></i>Mis Proyectos</a></li>

            </ul>
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"></i><span>Aprobaciones</span></a>
            <ul>
                <li><a href="/pages/iniciativas"><i class="fa fa-caret-right"></i>Mis Iniciativas</a></li>

            </ul>
        </li>

        <li>
            <a href="#/table"><i class="fa fa-table"></i><span data-i18n="Tables"></span></a>
            <ul>
                <li><a href="#/tables/static"><i class="fa fa-caret-right"></i><span data-i18n="Static Tables"></span></a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-caret-right"></i><span data-i18n="Responsive Tables"></span></a></li>
                <li><a href="#/tables/dynamic"><i class="fa fa-caret-right"></i><span data-i18n="Dynamic Tables"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="fa fa-pencil"></i><span data-i18n="Forms"></span></a>
            <ul>
                <li><a href="#/forms/elements"><i class="fa fa-caret-right"></i><span data-i18n="Form Elements"></span> <span class="badge badge-warning">14</span></a></li>
                <li><a href="#/forms/validation"><i class="fa fa-caret-right"></i><span data-i18n="Form Validation"></span></a></li>
               <li><a href="#/forms/layouts"><i class="fa fa-caret-right"></i><span data-i18n="Form Layouts"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-i18n="Charts"></span></a>
            <ul>
                <li><a href="#/charts/flot"><i class="fa fa-caret-right"></i>Flot <span data-i18n="Charts"></span></a></li>
                <li><a href="#/charts/charts"><i class="fa fa-caret-right"></i>Other <span data-i18n="Charts"></span></a></li>
            </ul>
        </li>
        <li class="nav-task">
            <a href="#/tasks/tasks">
                <i class="fa fa-tasks"></i><span data-i18n="Tasks"></span>
                <span class="badge badge-danger main-badge"
                      data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
            </a>
        </li>

    </ul>
</div>