
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavbarCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span>Dashboard</span> </a></li>

        <li>
            <a href="#/pages"><i class="fa fa-file-text-o"></i><span>Proyectos</span></a>
            <ul>
                <li><a href="/pages/crearIniciativa"><i class="fa fa-caret-right"></i>Crear Iniciativa</a></li>
               <li><a href="#/pages/misProyectos"><i class="fa fa-caret-right"></i>Mis Proyectos</a></li>

            </ul>
        </li>
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"></i><span>Aprobaciones</span></a>
            <ul>
                <li><a href="/pages/iniciativas"><i class="fa fa-caret-right"></i>Mis Iniciativas</a></li>

            </ul>
        </li>




    </ul>
</div>