
<div class="page page-table">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Mis Proyectos </strong></div>



        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                    ID
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('name') "
                              data-ng-class="{active: row == 'name'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-name') "
                              data-ng-class="{active: row == '-name'}"></span>
                </div></th>
                <th colspan="4"><div class="th">
                    Nombre Proyecto
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('price') "
                              data-ng-class="{active: row == 'price'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-price') "
                              data-ng-class="{active: row == '-price'}"></span>
                </div></th>
                <th><div class="th">
                    Empresa
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('sales') "
                              data-ng-class="{active: row == 'sales'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-sales') "
                              data-ng-class="{active: row == '-sales'}"></span>
                </div></th>
                <th><div class="th">
                    Fecha Termino
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('rating') "
                              data-ng-class="{active: row == 'rating'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-rating') "
                              data-ng-class="{active: row == '-rating'}"></span>
                </div></th>
                <th><div class="th">
                    One Off
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('rating') "
                              data-ng-class="{active: row == 'rating'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-rating') "
                              data-ng-class="{active: row == '-rating'}"></span>
                </div></th>
                <th><div class="th">
                    One Going
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('rating') "
                              data-ng-class="{active: row == 'rating'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-rating') "
                              data-ng-class="{active: row == '-rating'}"></span>
                </div></th>
                <th><div class="th">
                    Estado
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('rating') "
                              data-ng-class="{active: row == 'rating'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-rating') "
                              data-ng-class="{active: row == '-rating'}"></span>
                </div></th>
                <th><div class="th">
                    Etapa
                        <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('rating') "
                              data-ng-class="{active: row == 'rating'}"></span>
                        <span class="glyphicon glyphicon-chevron-down"
                              data-ng-click=" order('-rating') "
                              data-ng-class="{active: row == '-rating'}"></span>
                </div></th>
                <th><div class="th">
                    Opciones

                </div></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="store in lstProyectos">
                <td>{{store.id}}</td>
                <td colspan="4">{{store.nombreProyecto}}</td>
                <td>{{store.empresa}}</td>
                <td>{{store.fechaTermino}}</td>
                <td>{{store.oneOff}}</td>
                <td>{{store.oneGoing}}</td>
                <td>{{store.estado}}</td>
                <td>{{store.etapa}}</td>
                <td><a href="/pages/docEvaluacion" ng-show="store.etapa=='Evaluación'"><span  class="glyphicon glyphicon-list-alt" style="font-size:24px;"></span></a>
                    <a href="pages/crearPreEvaluacion" ng-show="store.etapa=='Pre-Evaluación'"><span class="glyphicon glyphicon-list-alt" style="font-size:24px;"></span></a>
                <a  href="/pages/actualizarProyecto" ng-show="store.etapa=='Ejecucion'"><span  class="glyphicon glyphicon glyphicon-edit" style="font-size:24px;"></span></a>
                                    </td>
            </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">

                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredStores.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>