<div class="page">

<div class="row">

<div class="col-md-12">
<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Documento Pre-Evaluación</strong></div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="proyecto.nombreDelProyecto" class="col-sm-2 control-label">Nombre del Proyecto</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="proyecto.nombreDelProyecto"  ng-model="proyecto.nombreDelProyecto" value="{{proyecto.nombreDelProyecto}}">
                </div>
                <label  class="col-sm-1 control-label">Solicitante</label>
                <div class="col-sm-4">

                    <input type="text" class="form-control"  value="{{proyecto.nombreUsuario}}">
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Fecha de Solicitud</label>
                <div class="col-sm-2">

                    <input type="text" class="form-control" disabled="" value="{{proyecto.fechaSolicitud}}">
                </div>
                <label  class="col-sm-1 control-label">Empresa</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="empresa"  disabled="" value="{{proyecto.empresa}}">
                </div>
                <label  class="col-sm-2 control-label">Departamento</label>
                <div class="col-sm-2">
                    <span class="ui-select"> <input type="text" class="form-control" id="departamento" ng-model="proyecto.departamento"   value="{{proyecto.departamento}}"></span>
                </div>
            </div>

            <div class="form-group">
                <label for="proyecto.resumenEjecutivo" class="col-sm-2 control-label">Resumen Ejecutivo</label>
                <div class="col-sm-10">
                    <textarea name="proyecto.resumenEjecutivo" id="proyecto.resumenEjecutivo" class="form-control" rows="10" >{{proyecto.resumenEjecutivo}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Etapa Proyecto</label>
                <div class="col-sm-4">

                    <input type="text" class="form-control" id="proyecto.etapa"  disabled="" value="{{proyecto.etapa}}">

                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Jefe Proyecto Asigando</label>
                <div class="col-sm-2">
                    <span class="ui-select">{{proyecto.jefeProyecto}}</span>
                </div>
            </div>
            <div class="form-group">
                <label  for="proyecto.costoOnOff" class="col-sm-2 control-label">Costo On-off (USD)</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="proyecto.costoOnOff" ng-model=proyecto.costoOnOff>
                </div>
                <label for="proyecto.costoOnGoing"   class="col-sm-2 control-label">Costo On-going (USD)</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="proyecto.costoOnGoing" ng-model=proyecto.costoOnGoing>
                </div>
                <label for="proyecto.beneficios"   class="col-sm-2 control-label">Beneficios (USD)</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="proyecto.beneficios" ng-model=proyecto.beneficios>
                </div>
            </div>
            <div class="form-group">
                <label for="proyecto.beneficiosIntangibles" class="col-sm-2 control-label">Beneficios Intangibles </label>
                <div class="col-sm-10">
                    <textarea name="proyecto.beneficiosIntangibles" id="proyecto.beneficiosIntangibles" class="form-control" rows="3" >{{proyecto.beneficiosIntangibles}}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="proyecto.fechaComienzoEstimada" class="col-sm-2 control-label">Fecha comienzo estimada</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="proyecto.fechaComienzoEstimada" ng-model=proyecto.fechaComienzoEstimada>
                </div>
                <label for="proyecto.duracionEstimada" class="col-sm-2 control-label">Duración Estimada semanas</label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" id="proyecto.duracionEstimada" ng-model=proyecto.duracionEstimada>
                </div>
            </div>
                    <div class="form-group">
                         <label for="proyecto.TipoProyecto"   class="col-sm-2 control-label">Tipo de Proyecto</label>
                             <div class="col-sm-2">
                                    <span class="ui-select"><select ng-model="proyecto.tipoProyecto" ng-options="opt for opt in listas.tipoProyecto"></select></span>
                                </div>
                             <label for="proyecto.complejidadProyecto"   class="col-sm-2 control-label">Complejidad Proyecto</label>
                             <div class="col-sm-2">
                                    <span class="ui-select"><select ng-model="proyecto.complejidadProyecto" ng-options="opt for opt in listas.complejidadProyecto"></select></span>
                                </div>
                    </div>
        </form>
    </div>
</section>
<br>

<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Equipo de Proyecto</strong></div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label  class="col-sm-2 control-label">Equipo</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="proyecto.buscadorUsuarios" ng-model=proyecto.buscadorUsuarios>

                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Rol del Proyecto</label>
                <div class="col-sm-3">
                    <span class="ui-select"><select ng-model="proyecto.aprobadores.tipoAprobador" ng-options="opt for opt in listas.tipoAprobador"></select></span>
                </div>
                <div  class=" col-sm-3" >
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </div>

        </form>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Email</th>
                    <th>Opciones</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Juan Pablo Callejas</td>
                    <td>Sub Gerente Desarrollo</td>
                    <td>juanpablo.callejas@kcl.cl</td>
                    <td><span>eliminar</span></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Entregables del Proyecto</strong></div>
    <div class="panel-body">
        <div class="col-lg-6">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Nuevo Entregable</label>

                    <div class="input-group col-sm-2">
                        <span class="ui-select"><select ng-model="proyecto.tipoEntregable" ng-options="opt for opt in listas.tipoEntregable"></select></span>
                   
                    </div>
                     <label  class="col-sm-2 control-label">Semana Entrega</label>
                     <div class="col-sm-2">
                    <input type="text" class="form-control" id="proyecto.entregables.semana" ng-model=proyecto.entregables.semana>
                         
                     </div>
                    <div class="input-group col-sm-4" align="right">
                                        <button ng-click="agregar()" class="btn btn-default" type="button">Agregar</button>
</div>


                </div>
              </form>



        </div>
<div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Entregables </strong></div>
            <ul class="list-group">
                <li  class="list-group-item" data-ng-repeat="store in proyecto.entregables">
                  {{store.tipoEntregable}} /  {{store.semanaEntrega}}
                </li>

            </ul>
        </div>
</div>
 <div class="col-lg-2"></div>
    </div>

</section>


<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Adjuntos</strong></div>
    <div class="panel-body">
        <div class="form-group">

            <label for="proyecto.costoOngGoing"   class="col-sm-2 control-label">Nombre de Adjunto</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="proyecto.adjuntos.nombreAdjunto" ng-model=proyecto.adjuntos.nombreAdjunto>
            </div>
            <label  class="col-sm-2 control-label">Tipo de Adjuntos</label>
            <div class="col-sm-2">
                <span class="ui-select"><select ng-model="proyecto.tipoAdjunto" ng-options="opt for opt in listas.tipoAdjunto"></select></span>
            </div>
            <div class="col-sm-2">
                <input type="file" title="Choose File" data-ui-file-upload class="btn btn-primary">
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Nombre Adjunto</th>
                <th>Tipo Adjunto</th>
                <th>Opciones</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Documento Inicial Pre Evaluacion</td>
                <td>Pre- Evaluacion</td>
                <td><span  class="glyphicon glyphicon-paperclip"></span></td>
            </tr>

            </tbody>
        </table>
    </div>

</section>



<br>

<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span>Vesiones Anteriores</strong></div>
    <div class="panel-body">

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Fecha Creacion</th>
                    <th>Solicitante</th>
                    <th>Etapa</th>
                    <th>Opciones</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>24/10/2014</td>
                    <td>Juan Pablo Callejas</td>
                    <td>Iniciativa</td>
                    <td><span>Ver</span></td>
                </tr>
                <tr>
                    <td>25/10/2014</td>
                    <td>Juan Pablo Callejas</td>
                    <td>Pre Evaluacion</td>
                    <td><span>Ver</span></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
<div  class="col-sm-offset-2 col-sm-10" align="right">
    <button type="submit" class="btn btn-success">Enviar</button>
</div>



</div>
</div>




</div>